.team-heading {
  background-color: #04C4D9;
}

.card-header {
  background-color: #F2C53D;
}

.card-body {
  background-color: #05F2F2;
}

.list-group {
  background-color: #EBF2F2;
}

h1 {
  color: #EBF2F2;
}

